

$primary-color: #802EC0;
$light-purple: #BA6AF9;
$dark-purple: #560099;
$text-muted: #877B7B;
$white: white;
$black: black;
$yt-color: #FF3D00;
$ig-color: #FF1843;
$fb-color: #3F51B5;

$green: #22A60D;
$gold: #B59A11;

$box-shadow: 0 4px 8px rgba($black, 0.3);
$btn-border-radius: 8px;
$btn-padding: 6px 16px;

$box-shadow: 0 4px 8px rgba($primary-color, 0.4);