.header{
    color: $primary-color;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 28px;
    align-self: flex-start;
}